@import url("/02_css/01.1_seletores/style/css.css");

* {
    scroll-behavior: smooth;
}

h3 {
    margin-top: 20px;
}

.ulItens {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    align-items: center;
}

.ulItens a {
    text-decoration: none;
    color: rgb(194, 37, 37);
    background-color: rgba(128, 128, 128, 0.424);
    padding: 5px;
    border-radius: 5px;
}

.ulItens a:hover {
    color: azure;
    background-color: rgb(207, 135, 0);
    transition: 1.5s;
}

section {
    margin: 20px 0;
}

pre {
    padding-left: 30px;
}

span {
    display: block;
}

.ExAbs {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
}

.ExAbs2 {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.ExAbs0 {
    width: 40px;
    height: 40px;
    background-color: red;
}

.ExAbs3 {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.rel1, .rel2, .rel3 {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: purple;
}

.rel2 {
    left: 70px;
    top: 40px;
}