@import url("/02_css/01_fundamentos/style/css.css"); /* folha de estilo importada */

/* Mais regras, junto as já determinadas na folha importada */
ul {
    list-style: inside;
    list-style-type: square;
}

.html, .css {
    font-weight: bolder;
    color: rgb(27, 142, 187);
    text-transform: uppercase;
}

h3 {
    display: inline;
}

.retorno {
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: orange;
    position: relative;
    left: 50%;
}

details {
    padding: 10px;
}

.teste:link, .teste02:link, .teste3:link, .teste4:link {
    color: blue;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}

.teste3:hover {
    color: yellowgreen;
}

.teste4:active {
    color: orange;
}

.teste02:visited {
    color: gray;
}

.prg::first-letter {
    font-size: 3em;
    color: blue;
}

.prg2::first-line {
    color: red;
}

.contentAfter::after {
    content: ", Como vai?";
    color: darkorange;
}

.contentBefore::before {
    content: "Hey, ";
    color: darkorange;
}

/* Propriedades aplicadas apenas para corrigir estado na reação do elemento */
ul {
    position: relative;
    left: 100px;
}

pre ::marker {
    color: blue;
    font-size: 1.5em;
}

.select::selection {
    color: green;
}