@import url("/02_css/01_fundamentos/style/css.css"); /* folha de estilo importada */

/* Mais regras, junto as já determinadas na folha importada */
ul {
    list-style: inside;
    list-style-type: square;
}

.html, .css {
    font-weight: bolder;
    color: rgb(27, 142, 187);
    text-transform: uppercase;
}

h3 {
    display: inline;
}

.retorno {
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: orange;
    position: relative;
    left: 50%;
}

details {
    padding: 10px;
}

.teste:link {
    color: blue;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}

.teste:hover {
    color: yellowgreen;
}

.teste:active {
    color: orange;
}

.teste02:link {
    color: blue;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}

.teste02:visited {
    color: gray;
}

.teste02:hover {
    color: yellowgreen;
}

.teste02:active {
    color: orange;
}